@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn-primary {
  background-color: #8c9368; /* Change this to your desired primary color */
  border-color: #1890ff; /* Change this to your desired primary color */
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #fff;
  background-color: #096dd9; /* Change this to your desired hover color */
  border-color: #096dd9; /* Change this to your desired hover color */
}

.ant-btn-primary:active,
.ant-btn-primary.active {
  color: #fff;
  background-color: #0050b3; /* Change this to your desired active color */
  border-color: #0050b3; /* Change this to your desired active color */
}